body{
    padding-right: 0 !important;
}

.add-error label{
    color: #dd4b39;
}

.add-error input {
    border: 1px solid #dd4b39 !important;
}

.add-error .bootstrap-tagsinput{
    border-color: #dd4b39 !important;
}

#tree ul{
    background-color: #fff;
    border: 1px solid #d2d6de;
    font-family: tahoma,arial,helvetica;
    font-size: 10pt;
    margin: 0;
    min-height: 0;
    overflow: auto;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    height: 150px;
}

#tree ul li{
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: outside none none;
    margin: 0;
}

#tree ul li input[type="checkbox"]{
    margin-left: 10px;
    margin-top: 4px;
}

#tree ul li span.title{
    border: 1px solid transparent;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 3px;
    min-height: 20px;
    padding: 0 3px;
    vertical-align: top;
}

.padding-right-0{
    padding-right: 0 !important;
}
.padding-left-0{
    padding-left: 0 !important;
}

.padding-left-5{
    padding-left: 5px !important;
}

.padding-0-10{
    padding: 0 10px !important;
}

.btn-padding{
    padding: 6px 15px !important;
}

.padding-0-16{
    padding: 0 16px !important;
}

.loadingModal{
    padding-right: 0!important;
}

.position-relative{
    position: relative;
}

.loadingModal .modal-dialog{
    top: 20%;
    margin: auto;
}

.loadingModal .modal-sm{
    width: 200px;
}

.loadingModal .modal-content{
    width: 0;
}

.icheckbox_square-blue, .iradio_square-blue{
    /*background: rgba(0, 0, 0, 0) url("../pages/img/blue.png") no-repeat scroll 0 0;*/
}

.margin-left-0{
    margin-left: 0;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-rignt-10{
    margin-right: 10px;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.mincheckbox {
    cursor: pointer;
    display: inline-block;
    margin: 1px 0;
    position: relative;
    vertical-align: middle;
    height: 22px;
}

.mincheckbox span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dae0e8;
    display: inline-block;
    height: 22px;
    position: relative;
    width: 22px;
    /* border-radius: 50%; */
    /*background: rgba(0, 0, 0, 0) url("../pages/img/blue.png") no-repeat scroll 0 0;*/
}

.mincheckbox span:HOVER{
    background-position: -24px 0;
}

.mincheckbox span:after {
    /*background: rgba(0, 0, 0, 0) url("../pages/img/blue.png") no-repeat scroll -48px -1px;*/
    bottom: 1px;
    content: "";
    left: 1px;
    opacity: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    /* transform: scale(0.5);
    transition: all 0.15s ease-out 0s; */
}

.mincheckbox-success input:checked+span:after {
    /* background-color: #afde5c; */
}

.mincheckbox input:checked+span:after {
    /* background-color: #afde5c; */
    opacity: 1;
    /* transform: scale(1); */
    /* border-radius: 50%; */
}

.mincheckbox input {
    opacity: 0;
    position: absolute;
    margin-top: 0;
}

.fa-spin {
    animation: 2s linear 0s normal none infinite running fa-spin !important;
}

#spinLoading .fa-spin {
    height: 40px;
    margin-top: -20px !important;
    position: absolute;
    top: 50%
}

.hyper-link-color{
    cursor: default !important;
    color: #878787 !important;
}

.onboarding_page .container {
    width: auto !important;
}

#office-location .inside-box{
    border-top: 3px solid #3c8dbc !important;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.mincheckbox span.cursor-not-allowed:HOVER{
    background-position: 0 0;
}

.form-group.add-error label {
    color: #dd4b39;
}

.form-group.add-error .chosen-container .chosen-single, .form-group.add-error .ico_input input, .form-group.add-error .input_container input {
    border-color: #dd4b39 !important;
    box-shadow: none;
}

.transactionContactBoxVisible .fa-check, .btn_check .fa-check, .btn_delete .fa-check{
    font-size: inherit;
    position: inherit;
    right: auto;
}

.text-success {
    color: #3c763d !important;
}

#countryState_chosen ul.chosen-results{
    max-height: 160px;
}

#state_chosen ul.chosen-results{
    max-height: 120px;
}

.upload-close-icon{
    cursor: pointer;
    font-weight: 700;
}

.upload-file-name{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hyperlink-class{
    color: #1a0dab;
    cursor: pointer;
    display: inline-block;
}

#docuModal .modal-dialog, #iTransactModal .modal-dialog{
    width:1052px;
}

.checkBoxList label{
    width:100%;
    margin-bottom: 10px;
    display:block !important;
}
.checkBoxList-transaction-task label{
    width:100%;
    margin-bottom: 10px;
    display:block !important;
}

.checkBoxList label span{
    margin-right: 5px;
}

.text_over .progress {
    margin: 0;
}

.text_over label {
    color: #fff;
    font-style: unset !important;
    left: 0;
    margin: -1px 0 0 10px !important;
    position: absolute;
    z-index: 9999;
}

.view_transaction-agent .chosen-container a{
    cursor: not-allowed !important;
}

.view_transaction-agent .chosen-drop{
    display:none !important;
}

/*css for dashboard   */
.panel-green {
    border-color: #5cb85c;
}
.panel-green .panel-heading {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}
.panel-green a {
    color: #5cb85c;
}
.panel-green a:hover {
    color: #3d8b3d;
}

.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
}
.panel-yellow a {
    color: #f0ad4e;
}
.panel-yellow a:hover {
    color: #df8a13;
}

.panel-red {
    border-color: #d9534f;
}
.panel-red .panel-heading {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}
.panel-red a {
    color: #d9534f;
}
.panel-red a:hover {
    color: #b52b27;
}
.panel-skyblue .panel-heading {
    background-color: #3FCDF5;
    border-color: #3FCDF5;
    border-radius: 3px;
    color: #fff;
}

.huge1{
    font-size: 22px;
    font-weight: bold;
}

.icon1{
    color: #39bae7;
    font-size: 54px;
}


.huge {
    font-size: 24px;
}

.left-cont{
    float: left;
    width: 30px;
}

.right-cont{
    float: left;
    width: 670px;
}

.large-col{
    width:55%;
}

.large-col-childitems{
    width:57%;
}

.medium-col{
    width:30%;
}

.small-col{
    width:15%;
}

.innertable{
    width:100%;
}

.innertable tr td {
    color: #878787;
    font-size: 14px;
    padding: 12px !important;
}

.charge-label{
    float: left;
    margin-right: 20px;
    /* width: 250px; */
}

.pay-agent-footer{
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 20px;
}

.btn_download{
    margin-right: 15px;
}

.col-md-5.center-block {
    float: none;
}

@media (max-width: 1240px){
    .report-img > img {
        width: 100% !important;
    }

}

@media(min-width : 992px){
    .emergency-contact-name{
        padding-left: 0px !important;
    }

    .emergency-contact-phone{
        padding-right: 0px !important;
        padding-left: 5px !important;
    }
}

@media (max-width: 1010px){
    .left-cont {
        margin-right: 1%;
        width: auto;
    }

    .right-cont {
        width: 96%;
    }

    .quick-book-content-width{
        width : 100% !important;
    }
    .api-key-padding{
        padding: 0 !important;
    }

    .emergency-contact-name{
        padding: 0px !important;
    }

    .emergency-contact-phone{
        padding: 0px !important;
    }

}

@media (max-width: 518px){
    .right-cont {
        width: 93%;
    }

    .box-content-display{
        display: block !important ;
    }

    .quick-book-width{
        width: 100% !important;
    }

    .api-integration-btn{
        width: 100% !important;
    }

    .quick-book-content-width{
        width : 100% !important;
    }

    .api-key-padding{
        padding: 0 !important;
    }

    .agent-office-info {
        width: 100% !important;
    }

    .flex-coloumn-xs{
        flex-direction: column;
    }

    .margin-bottom-10-xs{
        margin-bottom: 10px
    }
}

.agent-office-info{
    width : 60%;
}

/*css for dashboard end  */

@media (min-width: 500px){
    /* .onboarding_page .container {
        width: 1500px !important;
    } */
}

/* AUTOCOMPLETE */

.autocomplete{
    width: 100%;
    position: relative;
}

.autocomplete input{
    font-size: 14px;
    width: 100%;
    color:#000;
    height:34px;
    line-height: 1.42857;
    padding: 6px 12px;

}

.autocomplete ul{
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 1;
}

.autocomplete li{
    text-align: left;
    list-style:none;
    width: 100%;
    padding:10px 0px 10px 10px;
    background-color: #fff;
}

.autocomplete li.active{
    width: 100%;
    background-color: #4bf;
}

.alterIcon{
    cursor: pointer;
    padding-left: 5px;
    padding-right: 3px;
}

.chosen-select1{
    background-color: transparent;
    position: absolute;
    top: -16px;
    z-index: 1;
    cursor:pointer;
}

.autocomplete > ul, .modal-body1{
    max-height: 350px;
    overflow-y: auto;
}

.non-accessable{
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.view-transaction-search .input-container-search{
    width: 100% !important
}

.disburshment-coloumn-text{
    color: #878787;
}

.divide-modal-body {
    border-top: 3px solid #666;
}

.font-weight-500{
    font-weight: 500;
}

.no-padding{
    padding: 0 !important;
}

.no-border{
    border:0px !important;
}

.no-margin{
    margin:0px !important;
}

.plaid-category{
    vertical-align: top;
    float: left;
}

.width-70{
    width: 70% !important;
}

.width-50{
    width: 50% !important;
}

.width-70px{
    width: 70px;
}

.width-60{
    width: 60% !important;
}

.width-15{
    margin-right: 1%;
    width: 15% !important;
    padding-top: 1px;
}

.width-100{
    width: 100% !important;
}

.width-45{
    width: 45% !important;
}

.width-65{
    width: 65% !important;
}

.width-40{
    margin-right: 1%;
    width: 40% !important;
}
.width-30{
    width: 30% !important;
}

.width-35{
    width: 35% !important;
}

.width-80{
    width: 80px !important;
}

.add-button{
    color: #367fa9;
    cursor: pointer;
    font-size: 22px;
    margin: 7px 0 0 7px;
}

a{
    cursor: pointer;
}

.plaid-icon{
    color: #aaa;
    font-size: 25px;
    padding-left: 7px;
}

.cursor{
    cursor: pointer;
}

.amount{
    padding-right: 10px;
    margin-top: 1px;
}

.margin-top-10{
    margin-bottom: 10px;
}

.margin-bottom-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}

.border{
    border: 1px solid #aaa;
}

.border-radius{
    border-radius: 5px;
}

.border-top{
    border-top: 1px solid #aaa;
}

.divide-2{
    border: 1px solid;
}
.padding-10{
    padding: 10px !important;
}

.padding-20{
    padding: 20px !important;
}

.padding-6{
    padding: 6px !important;
}

.split_tnc{
    height: 360px;
}
.split_tnc .chosen-container .chosen-results, .split_tran .chosen-container .chosen-results {
    max-height: 115px !important;
}

.agent_tr{
    height: 165px;
}

.right-align{
    text-align: right;
}

.right-icon{
    margin-left: 10px;
    position: absolute;
    cursor: pointer;
}

.bank-desc .progress{
    margin-top: 1px !important;
    width: 60%;
}

.bank-desc .text-cont{
    float: left;
    margin-right: 10px;
}

.padding-bottom-40{
    padding-bottom: 40px !important;
}

.padding-bottom-40 p{
    font-size:14px;
    color: #878787;
}
.padding-bottom-20{
    padding-bottom: 20px!important;
}

.padding-bottom-20 p{
    font-size:14px;
    color: #878787;
}
.demand_tbl .innertable tr td {
    padding: 5px !important;
}

.box-content-display{
    display: inline-block;
    vertical-align: top;
}

.quick-book-width{
    width: calc(100% - 270px);
}

.api-integration-btn{
    width: 270px;
    margin-top: -95px;
}

.quick-book-content-width{
    width : 55%;
}

.api-key-logo{
    width: 260px;
}

.api-key-padding{
    padding: 0 3px;
}

.allow-upload-btn{
    height: 36px !important;
    padding: 5px 70px !important;
}

.disable-fields{
    opacity: 0.5;
}

.show-sync{
    position: absolute;
    margin-top: -7px;
}

.bg-white{
    background-color: white;
}

.disable-sync-quickbook{
    display: inline-block;
}

.cursor-pointer{
    cursor: pointer;
}

.commission-plan-scrollable{
    max-height: 241px;
    overflow: hidden;
    overflow-y: auto;
    margin: 20px 0;
    border-radius:5px;
    border: 1px solid #d2d6de;
    border-top: 3px solid #25c3f0;
}

.remove-credit-card{
    margin-left: 15px;
    position: absolute;
    top: -4px;
}

.height-200{
    height: 200px;
}

.height-100{
    height: 100px;
}
.height-80{
    height:80px;
}
.height-130{
    height: 130px;
}

.agent-auto-complete .autocomplete > ul{
    max-height: 100px;
    overflow-y: auto;
}

.agentMonthly autocompletebills div{
    width:100px !important;
}

.integration-btn{
    width: 190px;
}

.re-sync-quickbook{
    font-size: 22px;
    color: black;
}

.qb-btn-width{
    width: 197px !important;
}

.vertical-align-text-top{
    vertical-align: text-top;
}

.font-12{
    font-size: 12px !important;
}

.font-14{
    font-size: 14px !important;
}

.font-18{
    font-size: 18px !important;
}

.font-24{
    font-size: 24px !important;
}

.text-black{
    color: black !important;
}

.resync-qb-agent-biiling{
    font-size: 18px;
    color: black;
}

.agent-biiling-icons{
    position: relative;
    top: 3px;
}

.agent-split-option{
    display: inline-block;
    vertical-align: top;
    width: 34%;
}

.dotloop-integration-tab{
    width: 120px;
    text-align: center;
}

.search-btn{
    padding: 6px !important;
    width: 75px !important;
}

#taskList .chosen-container .chosen-drop{
    z-index: 90109;
}

#leadSourceForm .chosen-drop .chosen-results{
    max-height: 140px !important;
}

.plan-level-height{
    height: 250px
}
.white-background{
    background-color: #fff;
}

.input-icon{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: larger;
    cursor: pointer;
    color: #dd4c3e;
}

.right-25{
    right: 25px;
}

.add-contact{
    color: #4481cc;
    font-size: 39px;
    position: absolute;
    top: -2px;
    right: -2px;
    cursor: pointer;
    /* z-index : 9; */
    background-color: white;
}

.icon-span{
    position: absolute;
    left: 3px;
    top: 8px;
}

.disable-inline{
    display: inline-block;
}

.vendor-mark-paid{
    padding: 0px;
    font-size: 13px;
    margin: 0px;
}

.color-piker-input{
    padding: 0 22px;
    width: 45px;
}

.hide-table-border{
    border-left-style: hidden !important;
    border-right-style: hidden !important;
    border-top-style: hidden !important;
}

.commission-container{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
}

.text-light-gray{
    color: #878787 !important;
}

.text-bold{
    font-weight: bold;
}

.qb-account ul {
    max-height: 130px !important;
}

.checkbox_container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.billing-end-date-container{
    position: relative;
    width: 120px;
}

.billing-start-date-container{
    position: relative;
    width: 120px;
}

.agent-billing-status{
    width: 80px;
}

.agent-billing ul {
    max-height: 100px !important;
}

.height-150{
    height:150px !important;
}

.agent-custom-drop ul{
    max-height: 150px !important;
}

.delete-button-margin{
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.custom-tool-tip {
    color: #757673;
    font-size: 27px;
}
.add-agent-info{
    margin: 10px 0 25px 0;
}

.docu-alert-img-1{
    width: 80%;
}

.docu-alert-img-2{
    width: 90%;
}

.docu-alert-height{
    max-height: 300px;
    overflow-y: scroll;
}

.disable-qb{
    opacity: 0.5;
    pointer-events: none;
}
.padding-bottom-10{
    padding-bottom: 10px !important;
}

.note-section-width {
    max-width: 50px;
}

.max-height-280 {
    max-height: 280px;
}

.text-red {
    color: red !important;
}

.text-green {
    color: green !important;
}

.min-width-100{
    min-width: 100px;
}
